---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  -clang-analyzer-cplusplus.NewDeleteLeaks
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
FormatStyle: file
SystemHeaders: false
ExcludeHeaderFilterRegex: 'ThirdParty/.*|out/.*|cmake-build-.*/.*'
...
