---
BasedOnStyle: LLVM
Standard: c++20

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
ColumnLimit: 100

BreakBeforeBraces: Allman
AlignAfterOpenBracket: DontAlign
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left
DerivePointerAlignment: false

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty

BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 8
InsertBraces: true

SortIncludes: true
IncludeBlocks: Regroup
FixNamespaceComments: true
NamespaceIndentation: None
MaxEmptyLinesToKeep: 1
ReflowComments: true
